$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .textarea {
    text-align:left;
    font-size:36.0pt;
    font-family:"Times New Roman";
    font-weight:bold;
  }


  /* Paste in the style definitions word created in the html originally */
<style>
<!--
  /* Font Definitions */
@font-face
{font-family:Arial;
  panose-1:2 11 6 4 2 2 2 2 2 4;}
  @font-face
  {font-family:"Courier New";
    panose-1:2 7 3 9 2 2 5 2 4 4;}
  @font-face
  {font-family:Wingdings;
    panose-1:5 0 0 0 0 0 0 0 0 0;}
  @font-face
  {font-family:"Cambria Math";
    panose-1:2 4 5 3 5 4 6 3 2 4;}
  @font-face
  {font-family:"Arial Black";
    panose-1:2 11 10 4 2 1 2 2 2 4;}
  /* Style Definitions */
  p.MsoNormal, li.MsoNormal, div.MsoNormal
  {margin:0in;
    margin-bottom:.0001pt;
    font-size:10.0pt;
    font-family:Arial;}
  h1
  {margin-top:11.0pt;
    margin-right:0in;
    margin-bottom:11.0pt;
    margin-left:-1.5in;
    line-height:11.0pt;
    font-size:10.0pt;
    font-family:"Arial Black";
    letter-spacing:-.2pt;
    font-weight:normal;}
  h2
  {margin-top:0in;
    margin-right:0in;
    margin-bottom:11.0pt;
    margin-left:0in;
    line-height:11.0pt;
    font-size:10.0pt;
    font-family:"Arial Black";
    letter-spacing:-.2pt;
    font-weight:normal;}
  h3
  {margin-top:0in;
    margin-right:0in;
    margin-bottom:11.0pt;
    margin-left:0in;
    line-height:11.0pt;
    font-size:10.0pt;
    font-family:Arial;
    letter-spacing:-.1pt;
    font-weight:normal;
    font-style:italic;}
  h4
  {margin:0in;
    margin-bottom:.0001pt;
    line-height:11.0pt;
    font-size:10.0pt;
    font-family:"Arial Black";
    letter-spacing:-.2pt;
    font-weight:normal;}
  h5
  {margin-top:0in;
    margin-right:0in;
    margin-bottom:11.0pt;
    margin-left:0in;
    line-height:11.0pt;
    font-size:8.0pt;
    font-family:"Arial Black";
    letter-spacing:-.2pt;
    font-weight:normal;}
  h6
  {margin-top:12.0pt;
    margin-right:0in;
    margin-bottom:3.0pt;
    margin-left:0in;
    text-align:justify;
    font-size:11.0pt;
    font-family:Arial;
    font-weight:normal;
    font-style:italic;}
  p.MsoHeader, li.MsoHeader, div.MsoHeader
  {margin-top:0in;
    margin-right:0in;
    margin-bottom:0in;
    margin-left:-1.5in;
    margin-bottom:.0001pt;
    text-align:justify;
    line-height:11.0pt;
    font-size:10.0pt;
    font-family:Arial;}
  p.MsoFooter, li.MsoFooter, div.MsoFooter
  {margin-top:0in;
    margin-right:0in;
    margin-bottom:0in;
    margin-left:-1.5in;
    margin-bottom:.0001pt;
    text-align:justify;
    line-height:11.0pt;
    font-size:9.0pt;
    font-family:Arial;
    font-weight:bold;}
  span.MsoPageNumber
  {font-family:Arial;}
  p.MsoTitle, li.MsoTitle, div.MsoTitle
  {margin:0in;
    margin-bottom:.0001pt;
    text-align:center;
    font-size:11.0pt;
    font-family:"Times New Roman";
    font-weight:bold;}
  p.MsoBodyText, li.MsoBodyText, div.MsoBodyText
  {margin-top:0in;
    margin-right:0in;
    margin-bottom:11.0pt;
    margin-left:0in;
    text-align:justify;
    line-height:11.0pt;
    font-size:10.0pt;
    font-family:Arial;
    letter-spacing:-.25pt;}
  p.MsoBodyTextIndent, li.MsoBodyTextIndent, div.MsoBodyTextIndent
  {margin-top:0in;
    margin-right:0in;
    margin-bottom:11.0pt;
    margin-left:.5in;
    text-align:justify;
    line-height:11.0pt;
    font-size:10.0pt;
    font-family:Arial;
    letter-spacing:-.25pt;}
  p.MsoDate, li.MsoDate, div.MsoDate
  {margin-top:0in;
    margin-right:0in;
    margin-bottom:11.0pt;
    margin-left:0in;
    text-align:justify;
    line-height:11.0pt;
    font-size:10.0pt;
    font-family:Arial;
    letter-spacing:-.25pt;}
  a:link, span.MsoHyperlink
  {color:blue;
    text-decoration:underline;}
  a:visited, span.MsoHyperlinkFollowed
  {color:purple;
    text-decoration:underline;}
  em
  {font-family:"Arial Black";
    letter-spacing:-.4pt;
    font-style:normal;}
  p.Achievement, li.Achievement, div.Achievement
  {margin-top:0in;
    margin-right:0in;
    margin-bottom:3.0pt;
    margin-left:12.25pt;
    text-align:justify;
    text-indent:-12.25pt;
    line-height:11.0pt;
    font-size:10.0pt;
    font-family:Arial;
    letter-spacing:-.25pt;}
  p.Address1, li.Address1, div.Address1
  {margin:0in;
    margin-bottom:.0001pt;
    text-align:justify;
    line-height:8.0pt;
    font-size:7.0pt;
    font-family:Arial;}
  p.Address2, li.Address2, div.Address2
  {margin:0in;
    margin-bottom:.0001pt;
    text-align:justify;
    line-height:8.0pt;
    font-size:7.0pt;
    font-family:Arial;}
  p.CityState, li.CityState, div.CityState
  {margin-top:0in;
    margin-right:0in;
    margin-bottom:11.0pt;
    margin-left:0in;
    text-align:justify;
    line-height:11.0pt;
    font-size:10.0pt;
    font-family:Arial;
    letter-spacing:-.25pt;}
  p.CompanyName, li.CompanyName, div.CompanyName
  {margin-top:12.0pt;
    margin-right:0in;
    margin-bottom:2.0pt;
    margin-left:0in;
    line-height:11.0pt;
    font-size:10.0pt;
    font-family:Arial;}
  p.CompanyNameOne, li.CompanyNameOne, div.CompanyNameOne
  {margin-top:12.0pt;
    margin-right:0in;
    margin-bottom:2.0pt;
    margin-left:0in;
    line-height:11.0pt;
    font-size:10.0pt;
    font-family:Arial;}
  p.DocumentLabel, li.DocumentLabel, div.DocumentLabel
  {margin-top:0in;
    margin-right:0in;
    margin-bottom:11.0pt;
    margin-left:0in;
    text-align:justify;
    font-size:24.0pt;
    font-family:Arial;
    letter-spacing:-1.0pt;}
  p.HeaderBase, li.HeaderBase, div.HeaderBase
  {margin:0in;
    margin-bottom:.0001pt;
    text-align:justify;
    font-size:10.0pt;
    font-family:Arial;}
  p.HeadingBase, li.HeadingBase, div.HeadingBase
  {margin:0in;
    margin-bottom:.0001pt;
    text-align:justify;
    line-height:11.0pt;
    font-size:9.0pt;
    font-family:Arial;
    letter-spacing:-.2pt;}
  p.Institution, li.Institution, div.Institution
  {margin-top:12.0pt;
    margin-right:0in;
    margin-bottom:3.0pt;
    margin-left:0in;
    line-height:11.0pt;
    font-size:10.0pt;
    font-family:Arial;}
  p.JobTitle, li.JobTitle, div.JobTitle
  {margin-top:0in;
    margin-right:0in;
    margin-bottom:3.0pt;
    margin-left:0in;
    line-height:11.0pt;
    font-size:10.0pt;
    font-family:"Arial Black";
    letter-spacing:-.5pt;}
  span.Lead-inEmphasis
  {font-family:"Arial Black";
    letter-spacing:-.3pt;}
  p.Name, li.Name, div.Name
  {margin-top:0in;
    margin-right:0in;
    margin-bottom:22.0pt;
    margin-left:0in;
    border:none;
    padding:0in;
    font-size:27.0pt;
    font-family:"Arial Black";
    letter-spacing:-1.75pt;}
  p.SectionTitle, li.SectionTitle, div.SectionTitle
  {margin-top:8.0pt;
    margin-right:0in;
    margin-bottom:0in;
    margin-left:0in;
    margin-bottom:.0001pt;
    line-height:11.0pt;
    font-size:10.0pt;
    font-family:"Arial Black";
    letter-spacing:-.5pt;}
  p.NoTitle, li.NoTitle, div.NoTitle
  {margin-top:8.0pt;
    margin-right:0in;
    margin-bottom:0in;
    margin-left:0in;
    margin-bottom:.0001pt;
    line-height:11.0pt;
    font-size:10.0pt;
    font-family:"Arial Black";
    letter-spacing:-.5pt;}
  p.Objective, li.Objective, div.Objective
  {margin-top:12.0pt;
    margin-right:0in;
    margin-bottom:11.0pt;
    margin-left:0in;
    line-height:11.0pt;
    font-size:10.0pt;
    font-family:Arial;}
  p.PersonalData, li.PersonalData, div.PersonalData
  {margin-top:0in;
    margin-right:.75in;
    margin-bottom:6.0pt;
    margin-left:-.75in;
    text-align:justify;
    line-height:12.0pt;
    font-size:11.0pt;
    font-family:Arial;
    font-style:italic;}
  p.PersonalInfo, li.PersonalInfo, div.PersonalInfo
  {margin-top:12.0pt;
    margin-right:0in;
    margin-bottom:3.0pt;
    margin-left:12.25pt;
    text-align:justify;
    text-indent:-12.25pt;
    line-height:11.0pt;
    font-size:10.0pt;
    font-family:Arial;
    letter-spacing:-.25pt;}
  p.SectionSubtitle, li.SectionSubtitle, div.SectionSubtitle
  {margin-top:8.0pt;
    margin-right:0in;
    margin-bottom:0in;
    margin-left:0in;
    margin-bottom:.0001pt;
    line-height:11.0pt;
    font-size:10.0pt;
    font-family:"Arial Black";
    font-weight:bold;}
  p.Box, li.Box, div.Box, span.Box
  {border-style: solid;}
  /* Page Definitions */
  @page WordSection1
  {size:8.5in 11.0in;
    margin:.5in .5in .5in .5in;}
  div.WordSection1
  {page:WordSection1;}
  /* List Definitions */
  ol
  {margin-bottom:0in;}
  ul
  {margin-bottom:0in;}

}
