Dave's Angular Playground
Published November 2016

Cards stuff plays with a 2D sprite array, drawing them on the canvas. Doesn't do much, but it shows how
you can script display of cards at locations on the screen from buttons. Alos uses canvas as an abstraction sorta,
which pays off in other pages like:

Galaxy is a 3D galaxy simulation that plays with large scale ranges.
At basic zoom (level 3, which is arbitrary) it shows a 100 light years x 100 light years x 25 light years "sector."
The overall galaxy has 1,800 x 900 x 
It is an isometric projection (z is ignored, plot based on X & Y, so there's no perspective).
Buttons allow you to wander around by