My Angular Playground
Published November 2016
<select ng-model="selectlink" ng-options="link.view for link in links" ng-change="go(selectlink)">
</select>
<h2 ng-click="toggleAngular()">Angular Design Evolution</h2>
<span ng-if="showAngular" ng-click="toggleAngular()">
    As the different bits of this app were added yo was used to generate each route (yo angular:route name).
    The route generator adds the name as the url for the new view and creates the view name.html and controller
    name.js modules. The first cut of the new page is added here, but things usually evolve.<br/><br/>
    As the page gets nailed down, any large amounts of data get moved to a factory. As an example, the robots page
    had an array defining the different robot properties - text, images, etc. This was moved to a robot.js factory
    (yo angular:factory robot) and the factory is now injected into the ronots.js controller.<br/><br/>
    A more complex evolution happenned with the approach to graphics and using an HTML canvas. The first app
    (an older version of the Tower Defense) just used the canvas directly. When I started working on the Galaxy page
    I created a service or factory wrapper around a canvas and injected that, avoiding most of the messy canvas
    code in the controller.<br/><br/>
    The Galaxy code for working out the contents of a sector had already moved to a factory as sector.js. I found that
    there was a fair amount of graphic specific code that was star/galay specific, so I moved that to a separate service
    or fatory layer that uses the canvas directly, removing the star/graphic specific code from the controller and
    locating it here.
</span>
<h2 ng-click="toggleAbout()">About</h2>
<span ng-if="showAbout" ng-click="toggleAbout()">
    This page. Nothing dramatic, simple Angular stuff. Data model is a simple set of show* values and toggle* routines.
    We use ng-if on it to show or hide things, and ng-click to invoke the toggle to turn things off and on.<br/>
    It is a litle instructive to compare this with the approach used in robots. The approach here is simple and mostly
    implemented in HTML, with JS containing a definition of the various things you can show and a toggle method for each.<br/>
    In robots we moved all of the details about each sort of robot or kinetic art into a separte object in an array hosted
    in a robot factory. The text is stored in the model as an array of paragraphs, and the HTML uses ng-repeat to get the
    textual data out of the arrays and displayed properly.<br/>
    Overall I am more fond of the service/factory approach once the data starts getting complex, it keeps the controller .js
    and the view .html cleaner, moving much if the data and crud to the factory.
</span>
<h2 ng-click="toggleCards()">Cards</h2>
<span ng-if="showCards" ng-click="toggleCards()">
    Cards stuff plays with a 2D sprite array, drawing them on the canvas. Does not do much, but it shows how
    you can script display of cards at locations on the screen from buttons. Also uses canvas as an abstraction sorta,
    which pays off in other pages too. See the Galaxy one, for example.
</span>

<h2 ng-click="toggleContact()">Contact</h2>
<span ng-if="showContact" ng-click="toggleContact()">
    List of contact and social media info and links. Also a self portrait, me with hearing protection,
    photo from the Capital Hill Block Party a few years back.</span>
<h2 ng-click="toggleGalaxy()">Galaxy</h2>
<span ng-if="showGalaxy" ng-click="toggleGalaxy()"><h4>HMTL5 Canvas 3D Galaxy simulation</h4>
    The idea I worked out here is how to create a "generative" galaxy.<br/>
    The generative algorithm is per sector, so convert any (x,y,z) to a sector by dividing by 100, 100 and 25
    respectively, taking the integer or "floor" portion as the result. Given an integer triplet x,y,z sector, create a
    string of them with spaces i.e. 0 0 0
    Hash that string with the murmur3 hash <br/>
    (cool point: encapsulated the murmur3 hash as an Angular service or factory,see app/scrtipts/services/murmur3hash.js)<br/>
    use the bytes and bits in the results in a planned way as seeds for a pseudo-random number generator in a specific sequence.<br/>
    Calculate the number then location of the brightest stars, then ditto for the next brightest, and so on down to dimmest stars for
    the sector.<br/>
    (another cool point: wrapped simple 31 bit pseudo-RNG as a service; nice to have: make it 64 bit)<br/>
    Now use the list of stars and locations to draw the result out on the canvas.<br/>
    The algorithms are pretty simple and fast in Javascript,  no reference to anything external is needed once we
    load the Angular page. It is repeatable, so anybody running the calculation for a given sector will get the
    exact same result: same number of stars in each class, same locations, etc. By basing it on fairly well seeded
    RNG, the sectors have a large amount of variety and no obvious repeats or patterns appear.<br/>
    <br/>
    Zooms are by a factor of 4.<br/>
    Default scale is 3 = 100x100 light years in x&y, zoom in to 2 and you get 25x25 LY, and down to 1 you get 6.25x6.25
    light years.<br/>
    Going the other direction, at 4 there are 4x4 sectors, 400x400 light years.<br/>
    Zoomed out to 5 there are 4x4 sectors, 1,600x1,600 light years.<br/>
    Going the other direction, at 6 there are 64x64 sectors, 6,400x6,400 light years.<br/>
    Going the other direction, at 7 there are 256x256 sectors, 25,600x25,600 light years.<br/>
    <br/>
    Another cool point: as the scale is increased, the dimmer stars are no longer drawn. Since we generate the lists of
    stars from brightest to dimmest, we can stop once we get to the dimmest we need to draw. Since we draw fewer as the
    scale increases, the calculations get faster so it performs better than x-squared, which is what you normally
    get from a 2D representation: 4x scale = 16x overhead.<br/>
    <br/>
    Nice to have: calculate where the rare blue giants are on a supersector basis at the start of the per sector algorithm.
    Now when we get to the 1,024x1,024 supersector range we can skip from sector by sector (so that is only needed up to
    256x256) and graph the whole 102,400 x 102,400 light year sector as a single panel, each sector is a pixel at most.<br/>
    <br/>
    At basic zoom (level 3, which is arbitrary) it shows a 100 light years x 100 light years x 25 light years "sector."
    The overall galaxy has 1,800 x 900 x 80 sectors, all roughly the same average star distribution: no arms, voids,
    clouds or nebulas. Just stars.<br/>
    Used <a href="https://en.wikipedia.org/wiki/Stellar_classification">the wikipedia page on Stellar Classification</a> for the basic odds.<br/>
    <br/>
    It is an isometric projection (z is ignored, plot based on X & Y, so there is no perspective).<br/>
    Buttons allow you to wander around by a sector at a time<br/>
    <br/>
    To get reasonable performance and appearance, dimmer classes of stars are only shown on the smallest scales.<br/>
    At the highest scales, only the brightest (blue supergiants) are displayed.<br/>
    <br/>
    The Z axis controls allow you to select subsets of the sector by limiting the top and bottom Z values. Setting the
    sliders close together allows for narrow slices. They start open wide - show from bottom to top.<br/>
    <br/>
    Nice to have ideas:<br/>
    Add perspective<br/>
    Add ability to rotate point-of-view away from the Z axis arbitrarily<br/>
        Make canvas virtual, allow for "flying across canvas" simply by peridoically redrawing at a slight offset.<br/>
</span>

<h2 ng-click="toggleMain()">Main</h2>
<span ng-if="showMain" ng-click="toggleMain()">
    Default and main view. Lists top level links to assorted pages with brief text describing what is on each.
</span>

<h2 ng-click="toggleResume()">Resume</h2>
<span ng-if="showResume" ng-click="toggleResume()">
    Dumb if vaguely amusing experiment in dynamically customizing a version of my resume. <br/>
    Mostly to show how to do it all in HTML except for a trivial data model defined in Angular JS.</span>

<h2 ng-click="toggleTower()">Tower Defense</h2>
<span ng-if="showTower" ng-click="toggleTower()">
    Simplistic Tower Defense:
    click a button and 2 randomly generated opponents march towards each other then fight.<br/>
    Stupidly simple graphic representation, broke old stick man to introduce weapons but so far it
    does not quite work.>br/>
    Only real point of interest hear (other than starting to work out how to use a canvas in AngularJS)
    is that I used Dungeons and Dragons v2 physical characteristics, weapons and armor & adjustments to
    generae the random characters, then use D&D v2 to-hit calculations (taking note of
    Str, Dex & weapon adjustments) and damage (Str & weapon vs. defenders Const. adjustment & random HP roll).
</span>

<h2 ng-click="toggleVideos()">Vera Videos</h2>
<span ng-if="showVideos" ng-click="toggleVideos()">
    Use AngularJS $http and promises to fetch youtube video info in a service, show thumbnails using the results.
    On clicking a thumbnail, bring that video into the embedded youtube player ready to be played.<br/>
    Code to do an array of playable controls used to work, broke somewhere along the way to porting it here.<br/>
    Mildly interesting use of controls to update display parameters.<br/>
    It also uses the app ID stuff, requiring use of Google's API control panel to enable this particular stat access,
    with a limit of 50,000 free queries a day or something like that.
</span>
