<h1>Privacy Policy for Koch Zap</h1>
The Koch Zap smart phone application for Android does not collect personal data from its Users. The Koch Zap application relies on the Android smart phone and Google's Android frameworks for many of it's features and Koch Zap has no direct control over those applications. Google Analytics is used to provide usage statistics. 
<h2>Types of Data collected</h2>
Google Analytics will track which views are being accessed and for how long. No personal data is provided to us, just totals across all users.<br/>
No personal data is collected.<br/>
No information about scan usage is collected.
<h3>The use of the collected Data</h3>
We will use the analytic informtion - amount of installs, frequency of use, duration of use, and which views are used - to help us plan what, if anything, we wish to do to improve the Koch Zap application.
<h2>Definitions and legal references</h2>
<h3>Personal Data</h3>
Any information regarding a natural person, a legal person, an institution or an association, which is, or can be, identified, even indirectly, by reference to any other information, including a personal identification number.<br/>
This application does not keep any personal data of any sort.
<h3>Usage Data</h3>
Google Analytics will track usage: time spent, views visited, installs and uninstalls.<br/>
Actual steps taken on those views and the associated data (scan results, lookup and search results, user input values) are not tracked.
<h3>User</h3>
The individual using this Application.<br/>
<h2>Legal information</h2>
Notice to European Users: this privacy statement has been prepared in fulfillment of the obligations under Art. 10 of EC Directive n. 95/46/EC, and under the provisions of Directive 2002/58/EC.<br/>
This privacy policy relates solely to this Collective Action smartphone application.<br/>
Latest update: December 18, 2016
