<select ng-model="selectlink" ng-options="link.view for link in links" ng-change="go(selectlink)">
</select>
<h3>Contact information for David Dawes</h3>
<img src="images/self.jpg" alt="David L. Dawes" style="width:252px;height:267px;"><br/>
<h4>Address</h4>
<span id="address" >
    <span ng-click="copy2clipboard($event)">
        <textarea style='font-size:24.0pt' id='marketing' rows="3" cols="20">{{address}}</textarea>
        </span><br/><br/>
    email:  <a href="mailto:davidlymandawes@yahoo.com">{{email}}</a><br/><br/>
    cell:   {{phone}}<br/><br/>
    <a href="https://github.com/DavidLDawes">github:  davidlymandawes</a><br><br/>
    <a href="https://virtualsoundnw.blogspot.com">blog:    https://virtualsoundnw.blogspot.com</a><br><br/>
    <a href="https://twitter.com/DavidLDawes">twitter: DavidLDawes</a><br><br>
    <a href="https://www.facebook.com/DavidLDawes">facebook: DavidLDawes</a><br>
</span>
