<html>

<head>
  <meta name=Title content="David L. Dawes Web Site for demos and resume etc.">
  <meta name=Keywords content="">
  <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
  <title>David L. Dawes Web Site</title>
</head>
<header>
    <h2 class=MsoTitle align=center style='font-size:24.0pt;font-family:"Arial Black";font-weight:normal'>
        Dave's playground</h2>
    <h2 class=Address2 align=center style='margin-top:6.0pt;text-align:center'>Assorted tests and useful bits</h2>
    <h2 class=Address2 align=center style='margin-top:6.0pt;text-align:center'><a href="#galaxy">
        <br/>
        200 billion stars. Done using local generative techniques, no back end storage needed.</a></h2>
    <h2 class=Address2 align=center style='margin-top:6.0pt;text-align:center'><a href="https://davidldawes.github.io/g0/#/">
        Stable 3D Galaxy (older version, since integrated into this resume app)</a></h2>
    <br/>
</header>
<p></p></p><p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:0pt'>
    <body lang=EN-US link=blue vlink=purple>
    <button ng-click='clickToOpen()'>Open Modal Dialog</button>
</body>

</html>
