<html>

<head>
  <meta name=Title content="David L. Dawes Web Site for demos and resume etc.">
  <meta name=Keywords content="">
  <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
  <title>David L. Dawes Web Site</title>
</head>
<header>
    <h2 class=MsoTitle align=center style='font-size:24.0pt;font-family:"Arial Black";font-weight:normal'>
        Dave's playground</h2>
    <h2 class=Address2 align=center style='margin-top:6.0pt;text-align:center'>Assorted tests, work in progress and useful bits</h2>
    <a href="#about">
        <p align=center style='font-family:"Times New Roman"'><span style='font-size:16.0pt'>About<br/></span>
            <span style='font-size:12.0pt'>More detailed discussions about the various pages here.</span></p>
    </a>
    <a href="#cards">
        <p align=center style='font-family:"Times New Roman"'><span style='font-size:16.0pt'>Cards<br/></span>
            <span style='font-size:12.0pt'>Playing with sprite panels and canvas. It doesn't do much, but<br/>
            there's a simple fuction to print out any icon from the panel to any chosen x,y on the panel.</span></p>
    </a>
    <a href="#contact">
        <p align=center style='font-family:"Times New Roman"'><span style='font-size:16.0pt'>Contact Me<br/></span>
            <span style='font-size:12.0pt'>The usual methods, still need to add the social stuff.</span></p>
    </a>
    <a href="#galaxy">
        <p align=center style='font-family:"Times New Roman"'><span style='font-size:16.0pt'>Galaxy Map<br/></span>
            <span style='font-size:12.0pt'>180,000 light years, view window zooms from 6.25 light years out to 25,600 LY.<br/>
            200 billion stars. Done using local generative techniques, no back end of any sort.</span></p>
    </a>
    <a href="#resume">
        <p align=center style='font-family:"Times New Roman"'><span style='font-size:16.0pt'>Resume<br/></span>
            <span style='font-size:12.0pt'>Dynamic (if long) resume. Check boxes to add/remove bits. Silly demo.</span></p>
    </a>
    <a href="#towerdefense">
        <p align=center style='font-family:"Times New Roman"'><span style='font-size:16.0pt'>Tower Defense<br/></span>
            <span style='font-size:12.0pt'>Basic system, interesting bit is it uses D&D V2 characteristics and adjustments,<br />
            armor class, to-hits and weapons adjustments per armor class, and HP and damage all per D&D2.</span></p>
    </a>
    <a href="#videos">
        <p align=center style='font-family:"Times New Roman"'><span style='font-size:16.0pt'>Vera Videos<br/></span>
            <span style='font-size:12.0pt'>Playing with controls for selecting lists of youtube videos by thumbnail.<br/>
            Also check box to enable an array of embedded videos.</span><br/>
            Looks like embedded videos are broken currently.</span></p>
    </a>
</header>
<p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:6.0pt;
margin-left:0pt'>
    <body lang=EN-US link=blue vlink=purple>
    <button ng-click='clickToOpen()'>Open Modal Dialog</button>
    I'm working out how to use ng-dialog. This will migrate to a different
    page when I figure out a use for it. Click it and get a generic dialog.
</body>

</html>
