<h1>Privacy Policy of davidldawes.github.io/playground</h1>
This Application collects some Personal Data from its Users.
<h2>Data Controller and Owner</h2>
Data is controlled and owned by David Dawes. If you enter contact information that is treated as personal data and David Dawes
will take reasonable steps to secure it. Data will be stored in systems that require credentials for access and data will always
be encrypted by SSL/TLS techniques in transit to the best of our abilities.
Personal data will never be sold or shared. In order to store contact information you must create an account with a unique user ID.
Your unique user ID may be shown on the site, but your other personal details never will be.
<h2>Types of Data collected</h2>
Among the types of Personal Data that this Application collects by itself \there are: \first name, last name, phone number, company name, address, country, state, province, email address, city, User ID and website. <br/>
This data is only collected if you freely and voluntarily enter it in the "Contacts" page using the "Add My COntact Info" button.<br/>
Among the types of Personal Data that this Application automatically collects through third parties when you use this applciation, there are: Cookies and Usage Data.<br/>
Other Personal Data collected may be described in other sections of this privacy policy or by dedicated explanation text contextually with the Data collection.<br/>
Any use of Cookies - or of other tracking tools - by this Application or by the owners of third party services used by this Application, unless stated otherwise, serves to identify Users and remember their preferences, for the sole purpose of providing the service required by the User.<br/>
Failure to provide at least a user ID makes it impossible for this Application to provide personal contact, messaging and newsletter features and services.<br/>
Users are responsible for any Personal Data of third parties obtained, published or shared through this Application and confirm that they have the third party's consent to provide the Data to the Owner.<br/>
<h2>Mode and place of processing the Data</h2>
<h3>Methods of processing</h3>
The Data Controller processes the Data of Users in a proper manner and shall take appropriate best effort security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data.<br/>
The Data processing is carried out using computers and/or IT enabled tools, following organizational procedures and modes strictly related to the purposes indicated. The data is hosted in Google Cloud Platform, a third party hosting service, using typical security and access cointrol methods.<br/>
<h3>Place</h3>
The Data is processed within Goggle Cloud Platform using the Data Controller's accounts and credentials.<br/>
<h3>Retention time</h3>
The Data is kept for the time necessary to provide the service requested by the User, or stated by the purposes outlined in this document, and the User can always request that the Data Controller suspend or remove the data.<br/>
<h3>The use of the collected Data</h3>
The Data concerning the User is collected to allow the Owner to provide its services, as well as for the following purposes: Analytics, Displaying content from external platforms and Contacting the User.<br/>
The Personal Data used for each purpose is outlined in the specific sections of this document.<br/>
<h3>Detailed information on the processing of Personal Data</h3>
<ul>Personal Data is collected for the following purposes and using the following services:
    <li>Analytics</li>
    <li>Contacting the User</li>
    <li>Displaying content from external platforms</li>
</ul>
<h2>Additional information about Data collection and processing</h2>
<h3>Legal action</h3>
The User's Personal Data may be used for legal purposes by the Data Controller, in Court or in the stages leading to possible legal action arising from improper use of this Application or the related services.<br/>
The User declares to be aware that the Data Controller may be required to reveal personal data upon request of public authorities.<br/>
<h2>Additional information about User's Personal Data</h2>
In addition to the information contained in this privacy policy, this Application may provide the User with additional and contextual information concerning particular services or the collection and processing of Personal Data upon request.<br/>
<h2>System logs and maintenance</h2>
For operation and maintenance purposes, this Application and any third party services may collect files that record interaction with this Application (System logs) or use for this purpose other Personal Data (such as IP Address).<br/>
<h2>Information not contained in this policy</h2>
More details concerning the collection or processing of Personal Data may be requested from the Data Controller at any time. Please see the contact information at the beginning of this document.<br/>
<h2>The rights of Users</h2>
Users have the right, at any time, to know whether their Personal Data has been stored and can consult the Data Controller to learn about their contents and origin, to verify their accuracy or to ask for them to be supplemented, cancelled, updated or corrected, to block any data held in violation of the law, as well as to oppose their treatment for any and all legitimate reasons. Requests should be sent to the Data Controller at the contact information set out above.<br/>
<h2>This Application does not support “Do Not Track” requests.</h2>
To determine whether any of the third party services it uses honor the “Do Not Track” requests, please read their privacy policies.<br/>
<h2>Changes to this privacy policy</h2>
The Data Controller reserves the right to make changes to this privacy policy at any time by giving notice to its Users on this page. It is strongly recommended to check this page often, referring to the date of the last modification listed at the bottom. If a User objects to any of the changes to the Policy, the User must cease using this Application and can request that the Data Controller remove the Personal Data. Unless stated otherwise, the then-current privacy policy applies to all Personal Data the Data Controller has about Users.<br/>
<h2>Information about this privacy policy</h2>
The Data Controller is responsible for this privacy policy.
<h2>Definitions and legal references</h2>
<h3>Personal Data (or Data)</h3>
Any information regarding a natural person, a legal person, an institution or an association, which is, or can be, identified, even indirectly, by reference to any other information, including a personal identification number.<br/>
<h3>Usage Data</h3>
Information collected automatically from this Application (or third party services employed in this Application), which can include: the IP addresses or domain names of the computers utilized by the Users who use this Application, the URI addresses (Uniform Resource Identifier), the time of the request, the method utilized to submit the request to the server, the size of the file received in response, the numerical code indicating the status of the server's answer (successful outcome, error, etc.), the country of origin, the features of the browser and the operating system utilized by the User, the various time details per visit (e.g., the time spent on each page within the Application) and the details about the path followed within the Application with special reference to the sequence of pages visited, and other parameters about the device operating system and/or the User's IT environment.<br/>
<h3>User</h3>
The individual using this Application, which must coincide with or be authorized by the Data Subject, to whom the Personal Data refers.<br/>
<h3>Data Subject</h3>
The legal or natural person to whom the Personal Data refers.<br/>
<h3>Data Processor (or Data Supervisor)</h3>
The natural person, legal person, public administration or any other body, association or organization authorized by the Data Controller to process the Personal Data in compliance with this privacy policy.<br/>
<h3>Data Controller (or Owner)</h3>
The natural person, legal person, public administration or any other body, association or organization with the right, also jointly with another Data Controller, to make decisions regarding the purposes, and the methods of processing of Personal Data and the means used, including the security measures concerning the operation and use of this Application. The Data Controller, unless otherwise specified, is the Owner of this Application.<br/>
<h3>This Application</h3>
The resume web site by which the Personal Data of the User is collected.
<h3>Cookies</h3>
Small piece of data stored in the User's device.
<h2>Legal information</h2>
Notice to European Users: this privacy statement has been prepared in fulfillment of the obligations under Art. 10 of EC Directive n. 95/46/EC, and under the provisions of Directive 2002/58/EC, as revised by Directive 2009/136/EC, on the subject of Cookies.<br/>
This privacy policy relates solely to this Application.<br/>
Latest update: December 10, 2016
